@media only screen and (min-width: $maxWidth) {
	.form-block {
		display: inline-block;
		margin: 1em 0;
	    width: 33%;
	}

    .output-container {
   		border: 1px solid #ccc;
	    border-radius: 0.5em;
		margin-bottom: 2em;
	}
}