/*
 * Initialize.css is a complete and customizable collection of CSS best practices based on Normalize.css and HTML5 Boilerplate.
 * http://jeroenoomsnl.github.io/initialize-css
 *
 * HTML5 Boilerplate: https://github.com/h5bp/html5-boilerplate
 * Normalize.css: http://github.com/necolas/normalize.css
 */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: inherit;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: inherit;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: inherit;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Recruitment Ipsum styles
   ========================================================================== */
html, body {
  height: 100%;
}

body {
  background: #f5f5f5;
}

a {
  color: #16a085;
}

h1, h2 {
  color: #f1f1f1;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
  line-height: 1.2;
}

h2 {
  font-weight: normal;
}

h3 {
  margin-top: 3em;
}

.page-wrap {
  margin-bottom: -90px;
  min-height: 100%;
}

.page-wrap:after {
  content: "";
  display: block;
  height: 90px;
}

header {
  background: #16a085;
  padding: 4em 0;
}

.header-button {
  background: #0d5d4d;
  border-radius: 0.3em;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  text-align: center;
  width: 10em;
}

.header-button:first-child {
  margin-bottom: 2em;
}

pre {
  background: #fff;
  border-radius: 0.3em;
  font-size: 0.8em;
  padding: 1em 2em;
}

section {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

footer {
  background: #0d5d4d;
  bottom: 0;
  box-sizing: border-box;
  color: #f1f1f1;
  height: 90px;
  padding: 2em 0;
}

footer a {
  color: #f1f1f1;
}

.form-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.form-block {
  vertical-align: middle;
  min-height: 40px;
  margin: 1em auto 2em auto;
  width: 300px;
}

.amount-input {
  border: 1px solid #666;
  border-radius: 3px;
  padding: 0.4em;
  text-align: center;
  margin-left: 0.5em;
  width: 2em;
}

.output-container {
  background: #fff;
  min-height: 100px;
  padding: 1em;
}

.generate-button {
  background: #16a085;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  padding: 1em;
}

.language-switch {
  margin: 1em 0;
  text-align: center;
}

@media only screen and (min-width: 960px) {
  .form-block {
    display: inline-block;
    margin: 1em 0;
    width: 33%;
  }

  .output-container {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 2em;
  }
}
